/* @group -pagers */
#slides { cursor: pointer; }
.nav-pager, .nav-prev-next { font-size: 14px; line-height: 14px; list-style: none; margin: 0; overflow: hidden; position: fixed; z-index: 100; }
.nav-pager li, .nav-prev-next li { border: none; float: left; padding: 0; }
.nav-pager a, .nav-prev-next a { display: block; line-height: 12px; }
.nav-pager { left: 60%; bottom: 20px; margin: 0 0 0 -300px;position: absolute;}
.nav-pager li { margin-right: 10px; }
.nav-pager a, .nav-prev-next a { background: #222; color: #fff; padding: 10px 5px; text-decoration: none; }
.nav-pager .current a, .nav-prev-next a:hover { background: #33CCFF; color: #fff; }
.nav-prev-next { right: 90px; top: 0; }
.nav-prev-next li { margin-left: 10px; }
/* @end */
