@import url("../css/reset.css");

* {
    outline: none;
}

html {
    height: 100%;
}

body {
    background: #222222;
    overflow: hidden;
    min-height: 100%;
    font-family: "museo-sans-1", "museo-sans-2", helvetica, arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    height: 100%;
}

.clear {clear: both;}
.blue {color: #33CCFF;}
.white {color: #fff;}

p {
    margin: 0 0 20px 0;
}

a {color: #000; text-decoration: none;}
a:hover {background: #000;color: #fff;}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}

.clearfix {
  /*zoom: 1; */
}

.hidden {
    display: none;
}

#container {
    height: 100%;
    min-height: 500px;
    min-width: 700px;
    position: absolute;
    width: 100%;
}

#main {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -250px;
    height: 400px;
}

#previous {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -250px;
    height: 400px;
}

#projects {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -250px;
    height: 400px;
}

#coursework {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -250px;
    height: 400px;
}

#resume {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -250px;
    height: 400px;
}


h1 {
    color: #bcbdc0;
    text-shadow: 1px 1px 0 #38383a;
    font-weight: 100;
    font-size: 24px;
    margin: 0 0 35px;
    line-height: 1.35em;
}

h1 strong {
        color: #33CCFF;
        font-weight: 600;
        /*position: relative;*/
}

h2 {
    color: #bcbdc0;
    text-shadow: 1px 1px 0 #38383a;
    font-weight: 100;
    font-size: 17px;
    margin: 0 0 35px;
    line-height: 1.35em;
}

h2 strong {
     color: #FFFFFF;
     font-weight: 600;
     /*position: relative;*/
}
    
#main p {
    font-size: 17px;
    color: #bcbdc0;
    text-shadow: 1px 1px 0 #38383a;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 0 35px 0;
}  

#main p strong {
        color: #FFFFFF;
        font-weight: 600;
        /*position: relative;*/
}

#main li {
    font-size: 17px;
    color: #bcbdc0;
    text-shadow: 1px 1px 0 #38383a;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 0 35px 0;
}


#previous p {
    font-size: 17px;
    color: #bcbdc0;
    text-shadow: 1px 1px 0 #38383a;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 0 35px 0;
}

#previous p strong {
    color: #FFFFFF;
    font-weight: 600;
    /*position: relative;*/
}

#previous li {
    font-size: 17px;
    color: #bcbdc0;
    text-shadow: 1px 1px 0 #38383a;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 0 35px 0;
}

#projects p {
    font-size: 17px;
    color: #bcbdc0;
    text-shadow: 1px 1px 0 #38383a;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 0 35px 0;
}

#projects p strong {
    color: #FFFFFF;
    font-weight: 600;
    /*position: relative;*/
}

#projects li {
    font-size: 17px;
    color: #bcbdc0;
    text-shadow: 1px 1px 0 #38383a;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 0 35px 0;
}

#coursework p {
    font-size: 17px;
    color: #bcbdc0;
    text-shadow: 1px 1px 0 #38383a;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 0 35px 0;
}

#coursework p strong {
    color: #FFFFFF;
    font-weight: 600;
    /*position: relative;*/
}

#coursework li {
    font-size: 17px;
    color: #bcbdc0;
    text-shadow: 1px 1px 0 #38383a;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 0 35px 0;
}


#resume p {
    font-size: 17px;
    color: #bcbdc0;
    text-shadow: 1px 1px 0 #38383a;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 0 35px 0;
}

#resume p strong {
    color: #FFFFFF;
    font-weight: 600;
    /*position: relative;*/
}

#resume li {
    font-size: 17px;
    color: #bcbdc0;
    text-shadow: 1px 1px 0 #38383a;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 0 35px 0;
}
      
    
.hsanchez_logo {
    width: 210px;
    height: 80px;
    bottom: 30px;
    position: absolute;
    left: 50%;
    margin-left: -105px;
    background: url("../images/duolingo_logo.png") no-repeat;
    text-indent: -10000px;
}
    .hsanchez_logo:hover {
        background-position: 0 -80px;
        cursor: pointer;
    }
    .hsanchez_logo:active {
        background-position: 0 0;
    }

.nav_footer {
    position: absolute;
    left: 30px;
    bottom: 15px;
}
    .nav_footer li.twitter {
        width: 50px;
        height: 36px;
        float: left;
        margin: 0 15px 0 0;
    }    
        .nav_footer li.twitter a {
            background: url("../images/icon_twitter.png") no-repeat 0 0;   
            text-indent: -10000px;     
            display: block;
            height: 100%;
        }
    .nav_footer li.github {
        width: 50px;
        height: 36px;
        float: left;
        margin: 0 15px 0 0;
    }    
        .nav_footer li.github a {
            background: url("../images/icon_github.png") no-repeat 0 0;   
            text-indent: -10000px;     
            display: block;
            height: 100%;
        }        
    .nav_footer li.mail {
        width: 150px;
        height: 36px;
        float: left;
        margin: 0 15px 0 0;
    }    
        .nav_footer li.mail span {
            background: url("../images/icon_mail.png") no-repeat 0 0; 
            position: relative;
            top: 5px;       
            cursor: pointer;
            height: 36px;
            padding: 0 0 0 53px;
            line-height: 26px;
            display: block;
            color: #636263;
            font-weight: 100;
            font-size: 90%;
        }

        .nav_footer li a:hover, .nav_footer li span:hover {
            background-position: 0 -36px;
        }
        .nav_footer li a:active, .nav_footer li span:active {
            background-position: 0 -72px;
        }
        
.copyright {
    position: absolute;
    right: 30px;
    bottom: 23px;
    color: #636263;
    font-weight: 100;
    font-size: 90%;
    margin: 0;
}

.modal_box {
    width: 320px;
    bottom: 70px;
    left: 145px;
    background: rgb(37, 36, 38);
    border: 1px solid #373639;
    padding: 20px 20px 20px 20px;
    position: absolute;
    color: #999;
    font-weight: 100;
    display: none;
}
    .modal_box .arrow {
        width: 26px;
        height: 9px;
        background: url("../images/modal_box_arrow.png");
        position: absolute;
        bottom: -10px;
        left: 26px;
    }

input {
    background: #1c1b1d;
    color: white;
    border: 1px solid #252426;
    font-size: 14px;
    font-weight: 100;
    padding: 8px;
    float: left;
}

input.error {
    background: url("../images/form_error.png") no-repeat center right #1c1b1d;
}

.btn {
    background: #3c3c3c;
    color: #33CCFF;
    font-weight: 700;
    border-top: 1px solid #474649;
    cursor: pointer;
    font-size: 12px;
    text-shadow: 1px 1px 0 #222;
}
   .btn:hover {
        background: #444444;
    } 
    .btn:focus, .btn:active {
        outline: none;
    } 
    
.email {
    margin: 0 10px 5px 0;
    width: 170px;
    padding: 8px 35px 8px 8px ;
}
.form_msg {
    margin: 0 0 10px 0;
    clear: both;
    font-size: 90%;
    
}

.projects {
    font-size: 17px;
    color: #bcbdc0;
    text-shadow: 1px 1px 0 #38383a;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 0 35px 0;    
}

    .projects li.past {
        float: left;
        margin: 0 15px 0 0;
    } 